.authTop {
  background-color: white;
  display: flex;
  padding: 25px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
  position: sticky;
  top: 0;
  z-index: 1;

  &-logo {
    margin-left: 100px;
    margin-right: 50px;
    cursor: pointer;
    border-right: 1px solid gray;

    & > h1 {
      margin-right: 25px;
    }
  }

  &-option {
    display: flex;
    justify-content: space-between;
    color: gray;
    margin-right: 100px;

    & > span {
      margin-left: 50px;
      color: #5869da;
      cursor: pointer;
    }
  }
}

.register {
  max-width: 100vw;
  // height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.registerWrapper {
  width: 70%;
  //   height: 70%;
  display: flex;
}

.registerLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(214, 206, 206);
  padding: 25px;
  border-radius: 5px;

  &-text {
    margin: 20px;
    margin-top: 35px;
    margin-bottom: 35px;
    color: #3c3744;

    & > h1 {
      font-weight: 500;
      margin-bottom: 5px;
    }

    & > p {
      color: gray;
    }
  }

  &-box-details {
    display: flex;
    flex-direction: column;
    margin: 10px;

    & > label {
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 10px;
    }

    & > input {
      height: 30px;
      padding: 10px;
      color: gray;
      border: 1px solid rgb(214, 206, 206);
      outline: none;
      border-radius: 5px;
      font-size: 15px;
      font-weight: 400;
    }
  }

  &-button {
    height: 50px;
    padding: 10px;
    background-color: #5869da;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 10px;
    cursor: pointer;

    &:hover {
      background-color: black;
      color: whitesmoke;
    }
  }

  &-bottom-option {
    color: gray;
    text-align: center;
    margin-top: 10px;

    &-span {
      color: #5869da;
      margin-left: 3px;
      cursor: pointer;
    }
  }
}

.registerLeft-bottom-option-terms {
  margin-left: 8px;
  font-size: 13px;
  font-weight: 500;
  margin-top: 15px;
  color: gray;
}

.registerRight {
  flex: 1;
}

.social-login {
  height: 100vh;
  display: flex;
  justify-content: center;

  &-wrapper {
    border: 1px solid rgb(126, 123, 123);
    height: 70%;
    width: 30%;
    padding: 20px;
    margin-top: 35px;

    & > h1 {
      font-weight: 500;
      font-size: 28px;
      margin-top: 150px;
      margin-bottom: 10px;
      color: rgb(65, 63, 63);
    }

    & > p {
      font-weight: 400;
      font-size: small;
      margin-bottom: 25px;
    }

    & > span {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: small;
      font-weight: 400;
      color: #5869da;
      margin-top: 10px;
      margin-bottom: 30px;
      cursor: pointer;
    }
  }

  &-option {
    border: 1px solid gray;
    height: 35px;
    text-align: center;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    cursor: pointer;

    & > span {
      padding-top: 10px;
      font-weight: 500;
      font-size: 15px;
      color: gray;
    }
  }
}
